@font-face {
  font-family: 'toutiao';
  /* Project id 3486228 */
  src: url('../assets/font/iconfont.woff2') format('woff2'), url('../assets/font/iconfont.woff') format('woff'), url('../assets/font/iconfont.ttf') format('truetype'), url('../assets/font/iconfont.svg') format('svg');
}
.toutiao {
  font-family: 'toutiao' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-xiangzuojiantou:before {
  content: '\e660';
}
.toutiao-shouji:before {
  content: '\e692';
}
.toutiao-youjiantou1:before {
  content: '\e628';
}
.toutiao-sousuo:before {
  content: '\e86e';
}
.toutiao-gengduo:before {
  content: '\e641';
}
.toutiao-guanbi:before {
  content: '\eb6a';
}
.toutiao-shoucang:before {
  content: '\e8b9';
}
.toutiao-zuopin:before {
  content: '\e604';
}
.toutiao-pinglun:before {
  content: '\e602';
}
.toutiao-wode:before {
  content: '\e603';
}
.toutiao-shouye:before {
  content: '\e600';
}
.toutiao-dianzan:before {
  content: '\e601';
}
.toutiao-yanzhengma:before {
  content: '\e60e';
}
.toutiao-lishi:before {
  content: '\e606';
}
.toutiao-wuwangluo:before {
  content: '\e60a';
}
.toutiao-yuedu:before {
  content: '\e605';
}
.toutiao-fenxiang:before {
  content: '\e607';
}
.toutiao-wenda:before {
  content: '\e608';
}
